<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lead</title>
</head>
<body>
    <html>  
        <body>
            <form action="/main" mathod="get">
                <button type="submit" formmethod="get" action="/lead">home</button>
            </form>
            <form action="/lead" mathod="get">
                <button type="submit" formmethod="get" action="/lead">register</button>
            </form>
            <form action="/book" mathod="get">
                <button type="submit" formmethod="get" action="/lead">book</button>
            </form>  
        <form action="/leadcreate" method="POST">  
        phone no: <input type="number" name="phone_no">  <br>  
        <input type="submit" value="Submit">  
        </form>  
        </body>  
        </html>  
</body>
</html>